

.box{
    
}

.hero{
    background-image: url("../../../assets/vibrating-headphone\ 1.png");
   
    background-color: #121212;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center; */
 width: 212px;
 height: 212px;
position: relative;
left: 700px
 



}
.heading{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
width: 473px;
height: 48px;
bottom: 350px;
left:300px
}