
.hero{
display: flex;
flex-direction: row;
justify-content: center;
width: 100vw ;
}


/* .hero{
    background-image: url("../../../assets/vibrating-headphone\ 1.png");
   
    background-color: #121212;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
 width: 212px;
 height: 212px;
position: relative;
left: 700px
 



} */
.heading{
    color: #fff;
 
  
font-weight: bolder;

}