.hero{
    background-image: url("../../../assets/hero.png");
   
    background-color: #121212;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
 width: 799px;
 height: 212px;
 margin-left: 160px;
 



}